div#wpbody-content .fade.error {
  opacity: 1; }

[v-cloak] > * {
  display: none !important; }

[v-cloak]:before {
  content: 'loading...'; }

.ui-widget-content {
  border: 1px solid #e0e0e0;
  border-radius: 0;
  padding-left: 9px;
  padding-right: 10px;
  padding-bottom: 3px; }

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
  background: none;
  border: 0; }

table.ui-datepicker-calendar {
  border-collapse: collapse; }

.ui-datepicker .ui-datepicker-header {
  border: 0;
  background: none; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  border: 0;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  padding: 0; }
  .ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
    background: #d8d8d8; }

.ui-datepicker th {
  font-size: 14px; }

.ui-datepicker td {
  position: relative;
  width: 50px;
  height: 30px;
  border: 1px solid #e0e0e0; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  background: #f3f3f3; }

div#wooahanShopOrder {
  display: block; }
  div#wooahanShopOrder div.modal div.modal-content div.modal-body {
    max-height: 530px;
    overflow: auto; }
    div#wooahanShopOrder div.modal div.modal-content div.modal-body table.tracking-table {
      width: 100%;
      border-collapse: collapse;
      border: 1;
      font-size: 13px; }
      div#wooahanShopOrder div.modal div.modal-content div.modal-body table.tracking-table thead tr th {
        border: 1px solid #e0e0e0;
        font-weight: normal;
        text-align: center;
        padding: 10px;
        background: #f3f3f3;
        width: 33.33%;
        border-left: 0;
        border-right: 0;
        font-size: 14px; }
      div#wooahanShopOrder div.modal div.modal-content div.modal-body table.tracking-table tbody tr td {
        border: 1px solid #e0e0e0;
        text-align: center;
        padding: 10px;
        border-left: 0;
        border-right: 0; }
        div#wooahanShopOrder div.modal div.modal-content div.modal-body table.tracking-table tbody tr td span.manager {
          display: block; }
        div#wooahanShopOrder div.modal div.modal-content div.modal-body table.tracking-table tbody tr td span.status.arrived {
          color: #00bc00; }
    div#wooahanShopOrder div.modal div.modal-content div.modal-body p.tracking-alert {
      display: block;
      color: #666;
      padding: 10px; }
  div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; }
    div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table thead th {
      font-weight: normal;
      padding: 10px 0;
      text-align: center;
      font-size: 13px;
      background: #f3f3f3;
      width: 50%;
      border: 1px solid #e0e0e0; }
    div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td {
      font-size: 13px;
      padding: 10px;
      border: 1px solid #e0e0e0; }
      div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-added ul.shipping-number-ul {
        border: 0;
        display: block; }
        div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-added ul.shipping-number-ul li {
          display: block;
          border: 0; }
          div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-added ul.shipping-number-ul li span.number button {
            float: right; }
      div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-none {
        display: block;
        text-align: center;
        color: #666; }
      div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td label {
        display: block;
        color: #666;
        margin-bottom: 0px; }
      div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td span.number {
        font-size: 20px; }
      div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td select.select-corp {
        display: block;
        margin-bottom: 5px; }
      div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-number-box {
        display: block;
        position: relative; }
        div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-number-box input.input-shipping-number {
          display: block;
          width: 100%;
          box-sizing: border-box;
          padding-right: 140px;
          height: 35px;
          padding-left: 10px;
          font-size: 18px; }
          div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-number-box input.input-shipping-number::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 13px; }
          div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-number-box input.input-shipping-number::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 13px; }
          div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-number-box input.input-shipping-number:-ms-input-placeholder {
            /* IE 10+ */
            font-size: 13px; }
          div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-number-box input.input-shipping-number:-moz-placeholder {
            /* Firefox 18- */
            font-size: 13px; }
        div#wooahanShopOrder div.modal div.modal-content div.shipping-number table.shipping-number-table tbody td div.shipping-number-box button {
          float: right;
          position: absolute;
          top: 0;
          right: 0;
          height: 34px; }
  div#wooahanShopOrder div.modal div.modal-content div.shipping-details table.shipping-detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; }
    div#wooahanShopOrder div.modal div.modal-content div.shipping-details table.shipping-detail-table th, div#wooahanShopOrder div.modal div.modal-content div.shipping-details table.shipping-detail-table td {
      border: 1px solid #e0e0e0;
      font-size: 13px;
      padding: 10px; }
      div#wooahanShopOrder div.modal div.modal-content div.shipping-details table.shipping-detail-table th button.button-phone-send, div#wooahanShopOrder div.modal div.modal-content div.shipping-details table.shipping-detail-table td button.button-phone-send {
        vertical-align: baseline;
        margin-left: 10px; }
    div#wooahanShopOrder div.modal div.modal-content div.shipping-details table.shipping-detail-table th {
      background: #f3f3f3;
      font-weight: normal; }
  div#wooahanShopOrder div.modal div.modal-content table.order-detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; }
    div#wooahanShopOrder div.modal div.modal-content table.order-detail-table th, div#wooahanShopOrder div.modal div.modal-content table.order-detail-table td {
      border: 1px solid #e0e0e0; }
    div#wooahanShopOrder div.modal div.modal-content table.order-detail-table thead th {
      font-weight: normal;
      padding: 10px 0;
      text-align: center;
      font-size: 13px;
      background: #f3f3f3; }
      div#wooahanShopOrder div.modal div.modal-content table.order-detail-table thead th.detail-item {
        width: 30%; }
      div#wooahanShopOrder div.modal div.modal-content table.order-detail-table thead th.detail-qty {
        width: 10%; }
      div#wooahanShopOrder div.modal div.modal-content table.order-detail-table thead th.detail-price {
        width: 15%; }
      div#wooahanShopOrder div.modal div.modal-content table.order-detail-table thead th.detail-method {
        width: 13%; }
      div#wooahanShopOrder div.modal div.modal-content table.order-detail-table thead th.detail-checker {
        width: 5%; }
    div#wooahanShopOrder div.modal div.modal-content table.order-detail-table tbody td {
      font-size: 13px;
      padding: 10px; }
      div#wooahanShopOrder div.modal div.modal-content table.order-detail-table tbody td img {
        width: 35px;
        height: 35px; }
      div#wooahanShopOrder div.modal div.modal-content table.order-detail-table tbody td.detail-qty, div#wooahanShopOrder div.modal div.modal-content table.order-detail-table tbody td.detail-price, div#wooahanShopOrder div.modal div.modal-content table.order-detail-table tbody td.detail-method, div#wooahanShopOrder div.modal div.modal-content table.order-detail-table tbody td.detail-checker {
        text-align: center; }
    div#wooahanShopOrder div.modal div.modal-content table.order-detail-table tfoot td {
      padding: 10px;
      font-size: 14px; }
  div#wooahanShopOrder div.modal div.modal-content div.input-memo-box {
    display: block; }
    div#wooahanShopOrder div.modal div.modal-content div.input-memo-box textarea {
      box-sizing: border-box;
      width: 100%;
      height: 60px;
      border: 1px solid #e0e0e0;
      box-shadow: none;
      -webkit-appearance: none;
      background: #f1f1f1;
      font-size: 13px;
      line-height: 1.4;
      padding: 10px; }
    div#wooahanShopOrder div.modal div.modal-content div.input-memo-box div.submit-controll {
      display: block;
      margin-bottom: 20px;
      text-align: right; }
      div#wooahanShopOrder div.modal div.modal-content div.input-memo-box div.submit-controll select {
        font-size: 13px;
        width: 180px; }
  div#wooahanShopOrder div.modal div.modal-content ul.memo-ul {
    display: block; }
    div#wooahanShopOrder div.modal div.modal-content ul.memo-ul li.memo {
      display: block;
      background: #ffffe3;
      border: 1px solid #ececba;
      box-sizing: border-box;
      padding: 10px;
      font-size: 13px;
      border-radius: 10px;
      position: relative; }
      div#wooahanShopOrder div.modal div.modal-content ul.memo-ul li.memo label {
        display: block;
        margin: 0;
        margin-bottom: 5px;
        font-size: 12px;
        color: #666; }
      div#wooahanShopOrder div.modal div.modal-content ul.memo-ul li.memo span.date {
        position: absolute;
        top: 11px;
        right: 15px;
        font-size: 11px;
        color: #666; }
      div#wooahanShopOrder div.modal div.modal-content ul.memo-ul li.memo span.remove {
        position: absolute;
        right: 15px;
        bottom: 10px;
        color: #b16666;
        cursor: pointer; }
        div#wooahanShopOrder div.modal div.modal-content ul.memo-ul li.memo span.remove:hover {
          color: #974d4d; }
      div#wooahanShopOrder div.modal div.modal-content ul.memo-ul li.memo.customer {
        background: #e7fff7;
        border-color: #d2eee4; }
  div#wooahanShopOrder div.modal div.modal-content div.modal-loading-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none; }
    div#wooahanShopOrder div.modal div.modal-content div.modal-loading-progress label.shipping-progress-title {
      position: absolute;
      top: 35%;
      left: 50%;
      width: 200px;
      margin-left: -100px;
      text-align: center;
      z-index: 999;
      padding: 8px 0;
      background: #fff;
      border: 3px solid #4fb364;
      color: #333; }
    div#wooahanShopOrder div.modal div.modal-content div.modal-loading-progress div.spinner-border {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -22px;
      margin-left: -22px;
      z-index: 2; }
    div#wooahanShopOrder div.modal div.modal-content div.modal-loading-progress div.background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0.5;
      z-index: 1; }
  div#wooahanShopOrder div.modal div.modal-content ul.example-csv li {
    text-align: center;
    padding: 10px;
    width: 25%; }
    div#wooahanShopOrder div.modal div.modal-content ul.example-csv li p.description {
      display: block;
      font-size: 12px;
      color: #666;
      word-break: keep-all; }
  div#wooahanShopOrder div.modal div.modal-content input[type="file"] {
    display: block;
    width: 100%;
    font-size: 13px;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background: #f1f1f1; }
  div#wooahanShopOrder nav.navbar {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px; }
    div#wooahanShopOrder nav.navbar a.navbar-brand img {
      display: inline-block;
      width: 100px;
      height: auto; }
    div#wooahanShopOrder nav.navbar div.navbar-nav a.nav-item {
      padding-left: .9em;
      padding-right: .9em;
      padding-top: 15px;
      padding-bottom: 15px;
      outline: none;
      border: none;
      outline-style: none; }
      div#wooahanShopOrder nav.navbar div.navbar-nav a.nav-item span.count {
        position: relative;
        width: 20px;
        height: 20px;
        color: #b0b0b0;
        display: block;
        border: 0;
        margin: 0 auto;
        border-radius: 18px;
        width: 30px;
        line-height: 20px;
        margin-top: 5px;
        font-weight: normal;
        font-family: 'Tahoma';
        font-size: 14px; }
      div#wooahanShopOrder nav.navbar div.navbar-nav a.nav-item.active span.count {
        color: #fff; }
      div#wooahanShopOrder nav.navbar div.navbar-nav a.nav-item:focus, div#wooahanShopOrder nav.navbar div.navbar-nav a.nav-item:visited, div#wooahanShopOrder nav.navbar div.navbar-nav a.nav-item:active {
        outline: none;
        border: none;
        outline-style: none; }
  div#wooahanShopOrder h1 {
    margin-top: 10px;
    margin-bottom: 20px; }
  div#wooahanShopOrder div.order-search-box {
    display: block;
    text-align: center; }
    div#wooahanShopOrder div.order-search-box button {
      height: 30px; }
    div#wooahanShopOrder div.order-search-box button.button-lg {
      width: 100px;
      height: 40px; }
    div#wooahanShopOrder div.order-search-box table.search-table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 10px; }
      div#wooahanShopOrder div.order-search-box table.search-table tr th {
        font-weight: normal;
        width: 100px;
        background: #f3f3f3;
        font-size: 14px;
        border: 1px solid #e0e0e0;
        padding: 10px;
        text-align: left; }
      div#wooahanShopOrder div.order-search-box table.search-table tr td {
        border: 1px solid #e0e0e0;
        padding: 10px;
        font-size: 13px;
        text-align: left; }
        div#wooahanShopOrder div.order-search-box table.search-table tr td select {
          display: inline-block;
          width: 150px;
          padding: 5px 10px;
          height: 30px;
          box-sizing: border-box;
          line-height: 30px; }
        div#wooahanShopOrder div.order-search-box table.search-table tr td input[type="text"] {
          height: 30px;
          line-height: 30px;
          display: inline-block;
          box-sizing: border-box;
          vertical-align: top; }
        div#wooahanShopOrder div.order-search-box table.search-table tr td div.date-search {
          display: inline-block;
          vertical-align: top; }
          div#wooahanShopOrder div.order-search-box table.search-table tr td div.date-search ul {
            font-size: 0;
            display: inline-block; }
            div#wooahanShopOrder div.order-search-box table.search-table tr td div.date-search ul li {
              display: inline-block;
              font-size: 12px;
              width: 50px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              margin-bottom: 0; }
              div#wooahanShopOrder div.order-search-box table.search-table tr td div.date-search ul li + li {
                margin-left: 3px; }
              div#wooahanShopOrder div.order-search-box table.search-table tr td div.date-search ul li:hover {
                background: #f3f3f3;
                cursor: pointer; }
      div#wooahanShopOrder div.order-search-box table.search-table tr.tr-search input[type="text"], div#wooahanShopOrder div.order-search-box table.search-table tr.tr-product input[type="text"] {
        width: 500px; }
      div#wooahanShopOrder div.order-search-box table.search-table tr.tr-date input[type="text"] {
        width: 100px; }
  div#wooahanShopOrder div.order-controller {
    margin-bottom: 10px; }
    div#wooahanShopOrder div.order-controller span.list-count {
      float: right;
      display: inline-block;
      font-size: 13px;
      position: relative;
      top: 10px;
      right: 10px; }
  div#wooahanShopOrder div.list-wrapper {
    display: block;
    position: relative; }
    div#wooahanShopOrder div.list-wrapper div.loading-progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none; }
      div#wooahanShopOrder div.list-wrapper div.loading-progress div.spinner-border {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -55px; }
      div#wooahanShopOrder div.list-wrapper div.loading-progress div.loading-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.5;
        z-index: 1; }
  div#wooahanShopOrder ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    border: 1px;
    border-collapse: collapse; }
    div#wooahanShopOrder ul li {
      display: table-cell;
      border-color: #e0e0e0;
      border: 1px solid #e0e0e0; }
    div#wooahanShopOrder ul.header {
      background: #fff; }
      div#wooahanShopOrder ul.header li {
        padding: 15px;
        font-size: 14px;
        text-align: center;
        background: #f3f3f3; }
      div#wooahanShopOrder ul.header li.data-order-checker {
        width: 65px;
        border-right: 0; }
      div#wooahanShopOrder ul.header li.data-order-number {
        width: 7%; }
      div#wooahanShopOrder ul.header li.data-order {
        border-left: 0; }
      div#wooahanShopOrder ul.header li.data-order-id {
        width: 8%; }
      div#wooahanShopOrder ul.header li.data-order-tel {
        width: 10%; }
      div#wooahanShopOrder ul.header li.data-order-status {
        width: 6%; }
      div#wooahanShopOrder ul.header li.data-order-shipping {
        width: 12%; }
      div#wooahanShopOrder ul.header li.data-order-date {
        width: 8%; }
      div#wooahanShopOrder ul.header li.data-order-price {
        width: 8%; }
      div#wooahanShopOrder ul.header li.data-order-total {
        width: 8%; }
      div#wooahanShopOrder ul.header li.data-order-method {
        width: 6%; }
      div#wooahanShopOrder ul.header li.data-order-quantity {
        width: 6%; }
      div#wooahanShopOrder ul.header li.data-order-notd {
        width: 6%; }
      div#wooahanShopOrder ul.header li.data-order-received {
        width: 7%; }
      div#wooahanShopOrder ul.header li.data-order-deliveried {
        width: 6%; }
      div#wooahanShopOrder ul.header li.data-order-paid {
        width: 8%; }
    div#wooahanShopOrder ul.body {
      background: #fff; }
      div#wooahanShopOrder ul.body > li.item {
        padding: 0;
        border: 0;
        display: block;
        line-height: 1;
        font-size: 0;
        margin: 0; }
        div#wooahanShopOrder ul.body > li.item ul.item-ul {
          font-size: 0; }
          div#wooahanShopOrder ul.body > li.item ul.item-ul li {
            padding: 15px 20px;
            font-size: 12px;
            text-align: center; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-checker {
              width: 65px;
              border-right: 0; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-number {
              width: 7%; }
              div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-number span {
                color: #009641;
                display: inline-block;
                cursor: pointer; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-number span:hover {
                  color: #00632b;
                  cursor: pointer; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order {
              border-left: 0;
              text-align: left; }
              div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order span.item {
                display: block;
                min-height: 30px;
                margin: 0;
                padding: 8px 0; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order span.item img.product-thumbnail {
                  float: left;
                  width: 30px;
                  height: 30px;
                  background: #e0e0e0;
                  border: 0; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order span.item label.product-title {
                  display: block;
                  margin-left: 40px;
                  height: 30px;
                  line-height: 30px;
                  font-size: 13px;
                  font-weight: bold;
                  margin-bottom: 0; }
                  div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order span.item label.product-title a {
                    color: #333; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order span.item span.option-badge {
                  float: left;
                  background: #53d400;
                  color: #fff;
                  padding: 3px 5px;
                  position: relative;
                  top: 5px; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order span.item ul.items {
                  display: block;
                  border: 0;
                  margin-left: 40px;
                  padding: 3px 0;
                  margin-top: 5px; }
                  div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order span.item ul.items li {
                    border: 0;
                    display: block;
                    padding: 0;
                    text-align: left;
                    color: #666;
                    box-sizing: border-box;
                    max-width: 90%; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order span.item + span.item {
                  border-top: 1px solid #e0e0e0; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order span.item:first-child {
                  padding-top: 0; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order span.item:last-child {
                  padding-bottom: 0; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-id {
              width: 8%; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-tel {
              width: 10%; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-status {
              width: 6%; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-shipping {
              width: 12%; }
              div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-shipping ul.shipping-numbers {
                display: block;
                border: 0; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-shipping ul.shipping-numbers li {
                  border: 0;
                  display: block;
                  padding: 0;
                  text-align: left; }
                  div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-shipping ul.shipping-numbers li label {
                    display: block;
                    color: #666;
                    margin-bottom: 0; }
                  div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-shipping ul.shipping-numbers li span.number {
                    font-size: 16px; }
                    div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-shipping ul.shipping-numbers li span.number span.search-shipping {
                      color: #5a935a;
                      display: inline-block;
                      width: 30px;
                      height: 30px;
                      border: 1px solid #e0e0e0;
                      border-radius: 50%;
                      text-align: center;
                      cursor: pointer; }
                      div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-shipping ul.shipping-numbers li span.number span.search-shipping i.fas {
                        line-height: 30px;
                        font-size: 13px; }
                      div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-shipping ul.shipping-numbers li span.number span.search-shipping:hover {
                        color: #477347; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-date {
              width: 8%; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-price {
              width: 8%; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-total {
              width: 8%; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-method {
              width: 6%; }
              div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-method span.badge {
                border-radius: 0;
                font-size: 100%;
                border-radius: 0;
                font-weight: normal;
                padding: 3px 5px; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-method span.badge.badge-iamport_card {
                  background-color: #ffc800;
                  color: #000; }
                div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-method span.badge.badge-iamport_vbank {
                  background-color: #3b76aa;
                  color: #fff; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-quantity {
              width: 6%; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-notd {
              width: 6%; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-received {
              width: 7%; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-deliveried {
              width: 6%; }
            div#wooahanShopOrder ul.body > li.item ul.item-ul li.data-order-paid {
              width: 8%; }
        div#wooahanShopOrder ul.body > li.item.active {
          background: #fefff0; }
        div#wooahanShopOrder ul.body > li.item.item-none {
          font-size: 13px;
          border: 1px solid #e0e0e0;
          padding: 50px;
          text-align: center;
          color: #858585; }
  div#wooahanShopOrder nav {
    text-align: center; }
    div#wooahanShopOrder nav ul.pagination {
      width: auto;
      display: inline-block;
      border: 0;
      border-collapse: unset;
      margin: 20px 0; }
      div#wooahanShopOrder nav ul.pagination li {
        border-color: none;
        border: 0; }
  div#wooahanShopOrder div.wooahan-footer {
    background: #333;
    display: block;
    padding: 30px;
    margin-top: 50px;
    color: #f1f1f1; }
  div#wooahanShopOrder div.wooahan-footer div.wooahan-logo {
    display: block;
    margin-bottom: 10px; }
  div#wooahanShopOrder div.wooahan-footer div.wooahan-logo img {
    width: 120px;
    height: auto; }
  div#wooahanShopOrder div.wooahan-footer div.wooahan-logo img + img {
    margin-left: 10px; }
  div#wooahanShopOrder div.wooahan-footer div.footer-contents {
    display: block;
    font-size: 14px;
    margin-bottom: 10px; }
  div#wooahanShopOrder div.wooahan-footer div.footer-contents a {
    color: #ddd; }
  div#wooahanShopOrder div.wooahan-footer div.footer-contents ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  div#wooahanShopOrder div.wooahan-footer div.footer-contents ul li {
    font-size: 13px;
    font-weight: normal;
    color: #ddd;
    display: block;
    border: 0;
    margin-bottom: 0; }
  div#wooahanShopOrder div.wooahan-footer div.footer-contents ul li strong {
    font-size: 18px;
    color: #f1f1f1; }
  div#wooahanShopOrder div.wooahan-footer div.footer-copy {
    font-size: 12px;
    color: #a2a2a2; }
  div#wooahanShopOrder div.wooahan-footer div.footer-copy a {
    color: #ddd; }

/*# sourceMappingURL=shop.order.css.map */
